.custom-field{
  position: relative;
  font-size: 14px;
  padding-top: 20px;
  margin-bottom: 5px;
}
.custom-field input{
  border:none;
  -webkit-appearance: none;
  -ms-appearance:none;
  -moz-appearance: none;
  appearance: none;
  background: #000;
  border: 2px solid white;
  padding: 12px;
  border-radius: 3px;
  width: 80vw;
  color: white;
  outline: none;
}

.custom-field .placeholder{
  position: absolute;
  left: 12px;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  color: #fff;
  transition: top 0.3s ease,
    font-size 0.3s ease,
    color 0.3s ease;
}
.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder{
  top: 10px;
  font-size: 12px;
  color: #fff;
  background-color: black;
}

.custom-field .one input{
  background: none;
  border: 2px solid #ddd;
  transition: border-color 0.3s ease;
}

.custom-field .one input:valid,
.custom-field .one input:focus{
  border-color: #222;
  transition-delay: 0.1s;
}

.custom-field.one input + .placeholder{
  padding: 0 5px;
  left: 8px;
}

.custom-field.one input:valid + .placeholder,
.custom-field.one input:focus + .placeholder{
  top: 20px;
  background: #000;

}

/* input:focus::placeholder{
  color: transparent;
}

input::placeholder{
  color:#222;
  transition: color 0.3s ease;
} */